<body>
    <guest-toolbar> </guest-toolbar>
    <div class="horizontal-flex" style="margin-top:7%">
        <div class="vertical-flex" style="flex-grow:7">
            <article class="card" [(ngModel)]="card">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{card.name}}</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <div class="carousel_container">
                      <div *ngFor="let picture of card.pictures">
                        <img mat-card-image [src]="picture" >          
                      </div>
                    </div>       
                    <mat-card-content>
                        <p>{{card.benefits}}</p>
                      </mat-card-content>
                      <mat-card-content *ngIf="card.address">
                        <p>{{card.address.country}}, {{card.address.city}}, {{card.address.streetAddress}}</p>
                      </mat-card-content>
                      <mat-card-content>
                        <p>Min guests: {{card.minGuests}}</p>
                      </mat-card-content>
                      <mat-card-content>
                        <p>Max guests: {{card.maxGuests}}</p>
                      </mat-card-content>
                      <mat-card-content>
                        <p>Price: {{card.basePrice}}</p>
                      </mat-card-content>
                      <mat-card-content>
                        <p>{{card.paymentOption}}</p>
                      </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>Rate</button>
                      <button mat-button>Remove rating</button>
                    </mat-card-actions>
                    <mat-card-actions>
                        <button mat-button>Rate host</button>
                        <button mat-button>Remove host rating</button>
                      </mat-card-actions>
                    <div >
                        <h3>Accommodation Ratings</h3>
                        <p><strong>Average: {{averageAccRating}}</strong></p>
                        <ul>
                            <li *ngFor="let rating of accRatings">
                                <p><strong>{{ rating.userId}}</strong></p>
                                <p>Rating: {{ rating.rating }}</p>
                                <hr>
                            </li>
                        </ul>
                      </div>
                      <div >
                        <h3>Host Ratings</h3>
                        <p><strong>Average: </strong></p>
                        <ul>
                          <li *ngFor="let rating of hostRatings">
                            <p><strong>{{ rating.userId}}</strong></p>
                            <p>Rating: {{ rating.rating }}</p>
                            <hr>
                          </li>
                        </ul>
                      </div>
                  </mat-card>
                </article>
        </div>
    </div>
</body>
