<app-host-toolbar></app-host-toolbar>
<body>
    <div class="create-page">
        <mat-card class="create-mat-card">
            <mat-card-content class="create-mat-card-content">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput required type="text" [(ngModel)]="createAccommodationRequest.request.name" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <input matInput required type="text" [(ngModel)]="createAccommodationRequest.request.address.country" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput required type="text" [(ngModel)]="createAccommodationRequest.request.address.city" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Street</mat-label>
                    <input matInput required type="text" [(ngModel)]="createAccommodationRequest.request.address.streetAddress" />
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Minimum number of guests</mat-label>
                    <input matInput required type="number" [(ngModel)]="createAccommodationRequest.request.minGuests" min="0" max="10" />
                </mat-form-field><mat-form-field>
                    <mat-label>Maximum number of guests</mat-label>
                    <input matInput required type="number" [(ngModel)]="createAccommodationRequest.request.maxGuests" min="0" max="10" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput required type="number" [(ngModel)]="createAccommodationRequest.request.basePrice" min="0" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Payment option</mat-label>
                    <mat-select matInput required type="number" [(value)]="paymentOption">
                        <mat-option value="0">Per person</mat-option>
                        <mat-option value="1">Per unit</mat-option>
                    </mat-select>
                </mat-form-field>                  
                <ng-select [items]="benefitsDropDown" 
                            bindLabel="name" 
                            bindValue="id" 
                            [(ngModel)]="selectedBenefit"
                            [multiple]="true"
                            placeholder="Benefits*"
                            required=""
                            (change)="onChange($event)">
                </ng-select>              
                <input type="file" reqired (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg" />  
                <mat-form-field>
                    <mat-label>Reservation confirmation type</mat-label>
                    <mat-select [(value)]="createAccommodationRequest.request.typeOfReservationConfirmation">
                      <mat-option value = "MANUAL">Manual </mat-option>
                      <mat-option value = "AUTOMATIC">Automatic</mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="create-mat-card-buttons">
                <button mat-raised-button (click)="addAccommodation()">Add new accommodation</button>
            </mat-card-actions>
        </mat-card>
    </div>   
</body>

