<div mat-dialog-content class="mat-dialog-main-div">
    <div class="mat-dialog-request-info">
      <mat-card>
        <mat-label>Guest: {{data.reservation.HostName}}</mat-label>
        <mat-label>Accommodation: {{data.reservation.AccommodationName}}</mat-label>
        <mat-label>Start Date: {{data.reservation.startDate}}</mat-label>
        <mat-label>End Date: {{data.reservation.endDate}}</mat-label>
        <mat-label>Number of guests: {{data.reservation.GuestCount}}</mat-label>
      </mat-card>
  
    </div>
  </div>
  <div mat-dialog-actions class="mat-dialog-buttons">
      <button mat-button (click)="acceptClick()">Accept</button>
      <button mat-button (click)="denyClick()">Deny</button>
      <button mat-button (click)="cancel()" >Cancel</button>
  </div>
  